.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}
h1 {
  width:720;
  padding-left:35px;
}

ul{
  list-style-type:none;
}
.sidebar {
  float:left;  
  width:120px;
}

.content {
  border-left: 1px dotted black;
  float:right;
  width:584px;
  padding-left:5px;
}


.footer{
  border-top: 1px dotted black;
  float:left;
  width:720px;
  padding-left:135px;
  padding-top: 19px;
}

